# Start

Beste deelnemer van tafel 2,

Dit Jupyter notebook heeft alvast wat data klaarstaan om te gebruiken. Dit notebook is vooral om te helpen met opstarten. Je hoeft deze uiteraard niet te gebruiken

Let wel op de manier van de output die dient te worden doorgegeven. Deze bevat dezelfde kolommen als het input voorbeeld.

In [1]:
import pandas as pd
import os

# Input

Het blok hieronder leest de RIVM_dataset inclusief de stofnaam in en zet het in een pandas dataframe.

In [10]:
if os.path.exists((parent + '/RIVM_dataset/AllData_IOD_Stofnaam1.csv')):
    path = (parent + '/RIVM_dataset/AllData_IOD_Stofnaam1.csv')
elif os.path.exists((parent + '/Datasets' + '/RIVM_dataset/AllData_IOD_Stofnaam1.csv')):
    path = (parent + '/Datasets' + '/RIVM_dataset/AllData_IOD_Stofnaam1.csv')
else:
    print("No correct path found...")
    path = None
inputtafel2 = pd.read_csv(path, sep=',')

Hieronder is te zien hoe de data er uit ziet. De volgende kolommen zitten er in: 
- Kolom 1: een lang nummer unieke regelcode 
- Sample ID: de naam die de data-eigenaar aan het monster geeft  
- Aquocode: de naam van de parameter die het Infor Huis Water gebruikt
- CAS: Chemical Abstracts Services – de naam van de parameter als CAS-nummer 
- MeasuredValue: gemeten waarde van de parameter 
- Unit: eenheid van de gemeten waarde 
- Locationcode: unieke naam die de data-eigenaar aan de locatie van het monster gegeven heeft 
- AdditionalProperties: beschrijving van de werkwijzen van monsterbehandeling, conform bepaalde coderingen 
- LimitIndicator: duidt aan of een waarde kliner is dan de detectielimiet, enz, 
- X=locatiecodering 
- Y=locatiecodering 
- Datasource: data verkregen van…. 
- SampleDate: Datum van monstername 
- Stofnaam: Naam van de stof gebaseerd op het CAS nummer

In [11]:
inputtafel2.head(5)

,Unnamed: 0,SampleID,AquoCode,CAS,MeasuredValue,Unit,Locationcode,AdditionalProperties,LimitIndicator,X,Y,DataSource,SampleDate,Stofnaam
0,0,AoDE_AA_680:1980-07-16,NH3,7664-41-7,9.714286,ug/l,AoDE_AA_680,N,-,160181.613,406573.048,Aa en Maas,1980-07-16,"Ammonia, anhydrous"
1,1,AoDE_AA_570:1980-07-16,NH3,7664-41-7,9.714286,ug/l,AoDE_AA_570,N,-,165695.515,403023.958,Aa en Maas,1980-07-16,"Ammonia, anhydrous"
2,2,AoBIEZLO700:1980-07-16,NH3,7664-41-7,10.928571,ug/l,AoBIEZLO700,N,-,163020.000,402945.000,Aa en Maas,1980-07-16,"Ammonia, anhydrous"
3,3,AoZUIDWV650:1980-07-16,NH3,7664-41-7,18.214286,ug/l,AoZUIDWV650,N,-,164962.593,402277.208,Aa en Maas,1980-07-16,"Ammonia, anhydrous"
4,4,AoGOORLO900:1980-07-16,NH3,7664-41-7,15.785714,ug/l,AoGOORLO900,N,-,168096.796,399616.086,Aa en Maas,1980-07-16,"Ammonia, anhydrous"

# Code

# Output

De output dient dezelfde kolommen te bevatten als de input.

Onderstaande regel code zet een dataframe (zoals tabel inputtafel2 hierboven) om naar een csv bestand

In [ ]:
os.makedirs('Datasets/output/', exist_ok=True)
data.to_csv('Datasets/output/outputtafel2.csv')