# Start

Beste deelnemer van tafel 4,

Dit Jupyter notebook heeft alvast wat skeletoncode klaarstaan om te gebruiken. Dit notebook is vooral om te helpen met opstarten. Je hoeft deze uiteraard niet te gebruiken

In [3]:
import pandas as pd
import os

# Input

Jullie zullen input ontvangen van tafel 1 en 3. Zij hebben in hun Jupyter Notebook een suggestie staan van hoe ze de data aan jullie aanleveren. Uiteraard zijn jullie vrij om een andere manier van output af te spreken met tafels 1 en 3.  

Onderstaand is een voorbeeld van hoe tafels 1 en 3 de data aanleveren.

In [4]:
d = {'GPS-coordinaten': ['[52.0666016, 5.0776055]'], 'CAS': ['012-345-6'], 'MeasuredValue': [100], 'Unit': ['ug/l'], 'Stofnaam': ['voorbeeldstof']}
outputtafel1en3 = pd.DataFrame(data=d)
outputtafel1en3

           GPS-coordinaten        CAS  MeasuredValue  Unit       Stofnaam
0  [52.0666016, 5.0776055]  012-345-6            100  ug/l  voorbeeldstof

Hun dataframe zal als csv naar jullie kunnen worden geleverd. Onderstaande code is hoe je een csv kan inlezen. Bij het rode deel in path dient de locatie en naam van het bestand ingevuld te worden.

In [6]:
parent = os.path.dirname(os.getcwd())

path = (parent + '/inputvoortafel4.csv')
inputtafel4 = pd.read_csv(path, sep=',')

# Code

# Output

Gewenst zou zijn een lijst van de Top X van grootste vervuilers. Met mogelijk een percentage van de uitstoot en tags over welke stoffen er worden uitgestoten. Een voorbeeld van hoe output er uit zou kunnen zien is het volgende:

In [8]:
d = {'Naam': ['Voorbeeldvervuiler'], 'Percentage uitstoot': ['10%'], 'Tags': ['CO2, Uranium']}
outputtafel4 = pd.DataFrame(data=d)
outputtafel4

                 Naam Percentage uitstoot          Tags
0  Voorbeeldvervuiler                 10%  CO2, Uranium

Onderstaande code is hoe je een dataframe zoals het voorbeeld outputtafel4 om kan zetten naar csv

In [9]:
outputtafel4.to_csv('outputtafel4.csv')